.courselist-container{
min-height:100vh;
padding:30px;
}

.courselist-box{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.courselist-box h1{
text-align:center;
margin-bottom:20px;
}

.courselist-box table{
width:100%;
border-collapse:collapse;
}

.courselist-box th{
background:#667eea;
color:white;
padding:12px;
}

.courselist-box td{
padding:12px;
text-align:center;
border-bottom:1px solid #ddd;
}

.courselist-box tr:hover

.delete-btn{
background:red;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}

.delete-btn:hover{
background:darkred;
}
